* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: 0.5;
}

footer {
  background-color: black;
  color: #bd00ff;
  font-size: 1.3em;
}

.contenedor-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.fa-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa-credit-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fa-truck-fast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacto-redes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contacto-redes div a {
  text-decoration: none;
  color: #00ff9f;
  font-size: 17px;
}

.copyright {
  font-size: 12px;
}

/*Tablets*/
@media (min-width:480px) {
  .contenedor-info{
    display: flex;
  }
}

/*Laptops*/
@media (min-width:768px) {

  .contenedor-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    padding: 1%;
    margin-top: 2%;

  }

  .contenedor-info div {
    display: flex;
    flex-direction: row;
  }

  .fa-check {
    padding: 6px;
    right: 20px;
    bottom: 55px;
    position: relative;
    left: 10px;
    top: -4px;
  }

  .fa-credit-card {
    padding: 6px;
    right: 20px;
    bottom: 55px;
    position: relative;
    left: 10px;
    top: -4px;
  }

  .fa-truck-fast {
    padding: 6px;
    right: 20px;
    bottom: 55px;
    position: relative;
    left: 10px;
    top: -4px;
  }

  .contacto-redes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .contacto-redes h5 {
    padding: 5px;
  }

  .contacto-redes div {
    padding: 5px;
  }

  .contacto-redes div a {
    text-decoration: none;
    color: #00ff9f
  }

  .contacto-redes div p {
    display: flex;
    justify-content: center;
  }

  .copyright {
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}