<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  <link rel="Stylesheet" href="/css/styles.css" type="text/css">
  <title>Mercado Liebre</title>
</head>

<body>
  <%-include('partials/header.ejs')%> 
  <main>
    <!-- Main BANNER -->
    <section class="banner-container">
      <img src="img/img-home-banner.jpg" alt="">
    </section>
    <!-- Section ULTIMA VISITA -->
    <section class="ultima-visita">
      <!-- SECTION Title -->
      <h2>Basado en tu última visita</h2>
      <!-- SECTION Item -->
      <article class="product-item">
        <!-- ITEM Img -->
        <div class="product-item__img">
          <img src="/img/Redragonzeus.jpg" alt="">
        </div>
        <!-- ITEM Info -->
        <div class="product-item__info">
          <i class="fa-solid fa-truck"></i>
          <p class="info-price">$20.000</p>
          <p class="info-discount">40% OFF</p>
        </div>
        <!-- ITEM Title -->
        <div class="product-item__title">
        <h3>Auriculares Redragon Zeus</h3>
      </div>
      <!-- El resto de los items sigue la misma estructura detalla arriba -->
      </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-macbook-pro-2019.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$230.000</p>
            <p class="info-discount">20% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="/img/Iphone13.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$500.000</p>
            <p class="info-discount">5% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Iphone 13</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-tv-samsung-smart.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$100.000</p>
            <p class="info-discount">30% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Smart TV Samsung 43"</h3>
        </div>
        </article>
    </section>
    <!-- Section OFERTAS-->
    <section class="ofertas">
      <h2>Ofertas</h2>
      <article class="product-item">
        <div class="product-item__img">
          <img src="img/img-cafetera-moulinex.jpg" alt="">
        </div>
        <div class="product-item__info">
          <i class="fa-solid fa-truck"></i>
          <p class="info-price">$6.770</p>
          <p class="info-discount">40% OFF</p>
        </div>
        <div class="product-item__title">
        <h3>Cafetera Moulinex</h3>
      </div>
      </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-macbook-pro-2019.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$230.000</p>
            <p class="info-discount">20% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$70.000</p>
            <p class="info-discount">5% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Samsumg Galaxy S10</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-tv-samsung-smart.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$100.000</p>
            <p class="info-discount">30% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Smart TV Samsung 43"</h3>
        </div>
        </article>
    </section>
  </main>
<%-include('partials/footer.ejs')%> 
</body>

</html>