<header>
    <div>
    <!-- Header TOP (Logo, Search-Bar, Text) -->
    <section class="top-container">
      <!-- Header TOP LOGO -->
      <div class="top-container__logo">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre"></a>
      </div>
      <!-- Header TOP SEARCH-BAR -->
      <div class="top-container__search-bar">
        <input class="search-bar__input" type="text" placeholder="Buscar productos, marcas...">
        <button class="search-bar__btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <!-- Header TOP TEXT -->
      <div class="top-container__copy">
        
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito.
        </p>
      </div>
    </section>
    <!-- Header BOTTOM (Left menu, right menu) -->
    <section class="bottom-container">
      <!-- Header BOTTOM LEFT MENU -->
      <div class="bottom-container__left-menu">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
      <!-- Header BOTTOM RIGHT MENU -->
      <div class="bottom-container__right-menu">
        <ul>
          <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
          <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></i></a></li>
          <li><a href="/carrito">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </div>
    </section>
    <!-- Header HAMBURGER MENU -->
    <section class="hamburger-container">
      <nav class="hamburger-menu">
        <i class="fas fa-bars"></i>
      </nav>
    </section>
  </div>
  </header>