<header>
  <nav class="nav" id="nav">
    <div class="nav-container">
      <a href="/" class="logo">
        <img src="/img/Logo.png" alt="Logo de la compañia">
        <h2 class="opaligth">OpaLigth</h2>
      </a>
      <section class="icono-menu" >
        <i class="fa-sharp fa-solid fa-bars"></i>
      </section>
      <div class="nav_menu">
        <a href="/login" class="nav-link">Iniciar sesion</a>
        <a href="/register" class="nav-link">Crear una cuenta</a>
        <a href="/carrito" class="nav-link">Carrito</a>
      </div>
    </div>
  </nav>
</header>